<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="ROOT_APPENDER_LOAD" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="false" />
        <param name="MaxFileSize" value="200MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="File" value="${java.io.tmpdir}${file.separator}medicompress.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="ERROR_APPENDER_LOAD" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="false" />
        <param name="File" value="${java.io.tmpdir}${file.separator}error_medicompress.log" />
        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yyyy HH:mm:ss,SSS}] {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="DEBUG_APPENDER_LOAD" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="false" /> 
        <!-- <param name="Append" value="true" /> -->
        <param name="File" value="${java.io.tmpdir}${file.separator}debug_medicompress.log" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; {%C->%M} %m%n" />
        </layout>
    </appender>

    <appender name="INFO_APPENDER_LOAD" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Append" value="false" />
        <param name="File" value="${java.io.tmpdir}${file.separator}info_medicompress.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy}; %d{HH:mm:ss}; %p; %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="warn" />
        </filter>
    </appender>

    <logger name="cl.medipacs">
        <level value="ERROR" />
        <appender-ref ref="INFO_APPENDER_LOAD" />
        <appender-ref ref="ERROR_APPENDER_LOAD" />
        <appender-ref ref="DEBUG_APPENDER_LOAD" />
    </logger>


    <root>
        <!-- Debería cambiarse por FATAL en producción. -->
        <level value="ERROR" />
        <appender-ref ref="ROOT_APPENDER_LOAD" />
    </root>

</log4j:configuration>